@model FortuneWheel.Models.Wheels.GetAllWheelsModel
@{
    Layout = "_ApplicationLayout";
}

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Wheels != null && Model.Wheels.Any())
        {
            foreach (var wheel in Model.Wheels)
            {
                <tr>
                    <td>@wheel.Id</td>
                    <td>@wheel.Title</td>
                    <td>@wheel.CreationDate</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No wheels available.</td>
            </tr>
        }
    </tbody>
</table>