@using WheelOfFortune.Models.Wheels
@model WheelOfFortune.Models.Wheels.GetAllWheelsModel
@{
    Layout = "_WheelsLayout";
}

<div class="wheel-actions-header">

</div>

<div class="wheel-actions">
    <button class="create-button btn" type="button" data-bs-toggle="modal" data-bs-target="#addWheelModal">Create New Wheel</button>
</div>

<div class="modal fade" id="addWheelModal" tabindex="-1" aria-hidden="true">
    @await Html.PartialAsync("_CreateWheelPartialView", new CreateWheelModel())
</div>

@if (Model.Wheels != null && Model.Wheels.Any())
{
    <table class="wheels-table">
        <thead>
            <tr >
                <th style="width: 30%;">Title</th>
                <th style="width: 20%;">Type</th>
                <th style="width: 20%;">Creation Date</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wheel in Model.Wheels)
            {
                <tr>
                    <td>@wheel.Title</td>
                    <td>@wheel.Type</td>
                    <td>@wheel.CreationDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <div class="wheel-settings-container">
                            <input type="button" value="Select" class="select-wheel-button btn" onclick="location.href='@Url.Action("Select", "Wheel", new { id = wheel.Id, type = wheel.Type.ToString() })'" />
                            <button class="remove-wheel-button btn" type="button" data-bs-toggle="modal" data-bs-target="#removeWheelModal">Remove</button>
                            <div class="modal fade" id="removeWheelModal" tabindex="-1" aria-hidden="true">
                                @await Html.PartialAsync("_RemoveWheelPartialView", new RemoveWheelModel
                                {
                                    Id = wheel.Id,
                                    Type = wheel.Type
                                })
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <label>No wheels available.</label>
}

