@model FortuneWheel.Models.Wheels.PointWheelModel
@{
    Layout = "_WheelsLayout";
}

<label class="h3 text-center">@Model.Wheel.Title</label>
<form method="post" asp-controller="Wheel" asp-action="AddSegment" id="optionForm" class="wheel-options-form">
    <div style="width: 65%;" class="create-option-params">
        <div style="width: 30%;">
            <input type="text" class="form-control" placeholder="Title" required asp-for="Title">
        </div>

        <div style="width: 30%;">
            <input type="number" class="form-control" placeholder="Points" required asp-for="Points">
        </div>

        <div class="d-flex align-items-center" style="width: 30%;">
            <input type="text" class="form-control" placeholder="Color hex" asp-for="ColorHex" onchange="updateColorPicker()">
        </div>
        <input type="color" id="colorPicker" onchange="updateColorPreview()">
    </div>

    <button style="width: 10%;" type="submit" class="create-button btn">Add</button>

    <div style="width: 20%;"></div>

    <button style="width: 20%;" class="btn btn-primary" type="button" onclick="saveOption()">Save changes</button>
</form>

<table class="wheels-table">
    <tbody>
        @for (int i = 0; i < Model.Wheel.Segments.Count; i++)
        {
            <tr>
                <td><input type="text" id="number@(i)" value="@(i+1)" /></td>
                <td><input type="text" id="title@(i)" value="@Model.Wheel.Segments[i].Title" /></td>
                <td><input type="text" id="hexColor@(i)" value="@Model.Wheel.Segments[i].ColorHex" /></td>
                <td><input type="color" id="colorPicker@(i)" onchange="updateColorPreview('@i')" /></td>
            </tr>
        }
    </tbody>
</table>

<script>
    function updateColorPreview() {
        var colorPicker = document.getElementById("colorPicker");
        var hexColorField = document.getElementById("hexColor");
        var colorValue = colorPicker.value;
        hexColorField.value = colorValue;
    }

    function updateColorPreview(index) {
        var hexColorField = document.getElementById("hexColor" + index);
        var colorPicker = document.getElementById("colorPicker" + index);
        hexColorField.value = colorPicker.value;
    }

    function updateColorPicker() {
        var hexColorField = document.getElementById("hexColor");
        var colorPicker = document.getElementById("colorPicker");

        var hexColorValue = hexColorField.value;

        colorPicker.value = hexColorValue;
    }

    function updateColorPicker(index) {
        var hexColorField = document.getElementById("hexColor" + index);
        var colorPicker = document.getElementById("colorPicker" + index);

        var hexColorValue = hexColorField.value;

        colorPicker.value = hexColorValue;
    }
</script>
