.main-container {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

.main-page {
    height: auto;
    min-height: 100vh;
    width: 100%;
    padding: 0px 10%;
    border-left: 1px solid gray;
    margin-left: 15%; overflow-y: auto;
}

.menu {
    width: 15%;
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
}

.menu li {
    width: 100%;
    margin: 13px 0;
}    

.menu li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
    color: white;
}

.menu li.active a {
    background-color: #2A547E;
}
