html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-tabs .nav-link {
    font-size: 30px; 
    color: #fff !important; 
}

.custom-margin {
    margin-right: 50px;
}

.auth-title{
    font-size: 50px;
    margin-bottom: 100px;
}

.auth-form {
    height: auto;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 8%;
}

.auth-input{
    font-size: 20px;
}

.auth-submit-btn {
    font-size: 20px;
    background: #4d94ff;
    font-weight: 400;
    margin-bottom: 50px;
}

.auth-input-group {
    margin-bottom: 30px;
    width: 100%;
}

.continue-with-google-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.continue-with-google-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.auth-label {
    font-size: 20px;
    margin-bottom: 30px;
}

main {
    width:100%;
}

body, html {
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main-page {
    flex: 1;
    height: 100%;
    padding: 25px;
}

.menu {
    flex: 0 0 15%;
    height: 100%;
    border-right: 1px solid gray;
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu li {
    width: 100%;
    margin: 13px 0;
}    

.menu li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
    color: white;
}

.menu li.active a {
    background-color: #2A547E;
}
