html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.nav-tabs .nav-link {
    font-size: 30px; 
    color: #fff !important; 
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.page-title {
    font-size: 45px;
}

.page-btn {
    font-size: 18px;
}

.dark {
    background: #1b1f22;
}

@media (max-width: 1280px) {
    .page-btn {
        font-size: 17px;
        margin-bottom: 2px;
    }
    .page-title {
        font-size: 37px;
    }
}
@media (max-width: 992px) {
    .page-btn {
        font-size: 15px;
    }
    .page-title {
        font-size: 30px;
    }
}