.load-wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 60%;
    height: 100%;
}

.spin-wheel-header {
    color: #fff;
}

.spin-wheel-header h1,
p {
    text-align: center;
    margin-bottom: 20px;
}

.wheel {
    display: flex;
    justify-content: center;
    position: relative;
}

.center-circle {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-circle:hover {
    cursor: pointer;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid #FFBF00;
    position: absolute;
    top: -300%;
    right: 50%;
    transform: translate(50%, -50%);
}

.spin-pannel {
    margin-left: 50px;
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.spin-pannel-line {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wheel-container {
    display: flex;
    flex-direction: row;
}

.spin-wheel-input {
    margin: 8px;
    width: 50%;
}

.spin-wheel-modes {
    margin-left: 7px;
}

.spin-mode-nav-link {
    cursor: pointer;
}

.shadow-circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    opacity: 0; 
}

.shadow-circle:hover {
    cursor: pointer;
}

.winner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    white-space: nowrap;
}

.shadow-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px; 
    height: 600px;
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.3); 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.4) 0px 12px 13px, rgba(0, 0, 0, 0.2) 0px -3px 5px; /* Темна тінь */
    filter: blur(20px); 
    transform: translate(-50%, -50%); 
    z-index: -1;
}

@media (max-width: 1260px) {
    #canvas {
        width: 600px;
        height: 600px;
    }

    .shadow-circle::before {
        width: 500px;
        height: 500px;
    }

    .triangle {
        top: -380%;
    }

    .shadow-circle {
        width: 600px;
        height: 600px;
    }
    .wheel-container {
        align-items: center;
        flex-direction: column;
    }

    .center-circle {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 720px){
    #canvas {
        width: 440px;
        height: 440px;
    }

    .triangle {
        top: -430%;
    }

    .center-circle {
        width: 45px;
        height: 45px;
    }

    .spin-pannel-line {
        margin-right: 3px;
    }

    .shadow-circle {
        width: 440px;
        height: 440px;
    }

    .shadow-circle::before {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 480px){
    #canvas {
        width: 320px;
        height: 320px;
    }
}