.wheel-actions-header {
    width: 100%;
    margin: 80px 0px;
    text-align: center;
    border-bottom: 2px solid #B7B7B7;
}

.wheel-actions-title {
    display: inline-block;
    margin-bottom: 30px;
}

.create-wheel-button {
    float: right;
    display: inline-block;
}

.wheel-card {
    width: calc(33.33% - 20px);
    border-color: #B7B7B7;
    margin: 10px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wheel-card-header {
    border-color: #B7B7B7;
}

.wheel-card-footer {
    margin-top: 13px;
    text-align: right;
}

.add-wheel-option-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #B7B7B7;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 20px 15px;
    margin-bottom: 30px;
}

.create-option-params {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
}
