<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wheel of fortune</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FortuneWheel.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark auth-container">
    <div class="auth-card bg-dark text-light card text-center border-light">
        <div class="card-header border-light">
            <ul class="nav nav-pills card-header-pills justify-content-center">
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "nav-link active" : "nav-link")" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "SignUp" ? "nav-link active" : "nav-link")" asp-area="" asp-controller="Auth" asp-action="SignUp">SignUp</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.getElementById("loginTab").addEventListener("click", function () {
            document.getElementById("loginTab").classList.add("active");
            document.getElementById("signupTab").classList.remove("active");
        });

        document.getElementById("signupTab").addEventListener("click", function () {
            document.getElementById("signupTab").classList.add("active");
            document.getElementById("loginTab").classList.remove("active");
        });
    </script>
</body>
</html>
