@model ErrorModel
@{
    Layout = "_Layout";
}

<div class="container d-flex  justify-content-center vh-100">
    <div class="text-center">
        <p class="lead">@Model.Message</p>
        <a href="@Model.PreviousPageRoute" class="btn btn-primary">Return to Previous Page</a>
    </div>
</div>