@model ErrorModel
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container d-flex  justify-content-center vh-100">
    <div class="text-center">
        <p class="lead">@Model.Message</p>
        <a href="@Model.PreviousPageRoute" class="btn btn-primary">@Localizer["Return to Previous Page"]</a>
    </div>
</div>