@model WheelOfFortune.Models.Auth.ConfirmEmailModel
@{
    Layout = "_AuthLayout";
}

<div class="auth-container">
    
    <form method="post" class="auth-form" asp-controller="Auth" asp-action="ConfirmEmail">

        <label class="auth-label">Check your email and enter code:</label>

        <div class="auth-input-group">
            <input type="text" class="form-control auth-input" placeholder="Code" asp-for="Code">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <button class="btn auth-submit-btn" type="submit">Submit</button>
    </form>
</div>