@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="auth-container">
    <label class="auth-title page-title">@Localizer["Registration is successful"]</label>

    <a class="btn auth-submit-btn" href="@Url.Action("Login", "Auth")">@Localizer["Redirect to login page"]</a>
</div>


