@{
    Layout = "_Layout";
}

<div class="auth-container">
    <label class="auth-title">Registration is successful</label>

    <a class="btn auth-submit-btn" href="@Url.Action("Login", "Auth")">Redirect to login page</a>
</div>


